.music-container{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border:1px solid #76dba3;
}
.play-list{
    position: absolute;
    top: 10%;
    left: 11%;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    border:1px solid #9e9e9e;
}
.music-picture {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 180px;
    width: 180px;
    border-radius:50%;
    border:1px solid white;
}
.rotated {
    animation: rotated 8s linear infinite;
}
@keyframes rotated {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.music-manipulate{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border:1px solid green;
}
.item-number,.item-musicName,.item-musicTime{
    display: inline-block;;
}
.list-item:hover{
    background-color: yellow;
}

#id-icon-play,#id-icon-pause,#id-icon-play-back,#id-icon-play-forward{
    position: absolute;
    display: inline-block;
    width: 30px;
    margin: 0 auto;
}
#id-icon-play{
    bottom: 30px;
    right: 185px;
}
#id-icon-pause{
    bottom: 30px;
    right: 185px;
}
#id-icon-play-back{
    bottom: 27px;
    right: 230px;
}
#id-icon-play-forward{
    bottom: 27px;
    right: 145px;
}
.hidden{
    display: none !important;
}
#id-played-bar,#id-music-bar,.play-list-song,#id-icon-pause,
#id-icon-play,#id-icon-play-back,#id-icon-play-forward {
        cursor: pointer;
}
#id-played-bar,#id-music-bar {
    display: inline-block;
    height: 6px;
    left: 80px;
    bottom: 87px;
    float: left;
    border-radius: 4px;
    position: absolute;
}
#id-music-bar{
    background: #8bc34a;
    opacity: 0.5;
}
#id-played-bar{
    background: -webkit-linear-gradient(left, #fec514, #EE4000);
    z-index: 2;
    transition: all 0.5s;
}
#id-current-time {
    display: inline-block;
    height: 5px;
    left: 25px;
    bottom: 95px;
    position: absolute;
}
#id-total-time {
    display: inline-block;
    height: 5px;
    left: 335px;
    bottom: 95px;
    position: absolute;
}
.information-name,.information-author {
    display: block;
    height: 30px;
    width: 300px;
    left: 10%;
    position: absolute;
    text-align: center;
}
.information-name {
    top: 5%;
}
.information-author {
    top: 10%;
}
