.music-container{
    position: relative;
    width: 900px;
    height: 556.2px;
    margin: 0 auto;
    border:2px solid red;
}
.player-heard{
    position: absolute;
    top: 0%;
    width: 700px;
    height: 60px;
    border:2px solid yellow;
}
.play-list{
    position: absolute;
    top: 60px;
    left:0%;
    width: 700px;
    height: 380px;
    margin: 0 auto;
    border:1px solid #9e9e9e;
    overflow: auto;
}
.music-manipulate{
    position: absolute;
    bottom: 0px;
    width: 900px;
    height: 100px;
    margin: 0 auto;
    border:1px solid green;
}
.music-cover {
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: 80px;
    width: 80px;
    border-radius:50%;
}
.information-name,.information-author {
    display: block;
    width: 150px;
    left: 120px;
    position: absolute;
    text-align: center;
}
.information-name {
    bottom: 20px;
    height: 65px;
}
.information-author {
    bottom: -21px;
    height: 60px;
}
.play-timeBar{
    position: absolute;
    bottom: 10px;
    left: 340px;
    height: 80px;
    width: 450px;
}
#id-played-bar,#id-music-bar {
    display: inline-block;
    height: 5px;
    left: 85px;
    bottom: 60px;
    border-radius: 4px;
    position: absolute;
}
#id-music-bar{
    background: #8bc34a;
    opacity: 0.5;
}
#id-played-bar{
    background: -webkit-linear-gradient(right, #fec514, #EE4000);
    z-index: 2;
    transition: all 0.3s;
}
#id-current-time,#id-total-time {
    display: inline-block;
    bottom: 52px;
    position: absolute;
}
#id-current-time {
    left: 25px;
}
#id-total-time {
    left: 400px;
}
#id-icon-play,#id-icon-pause,#id-icon-play-back,#id-icon-play-forward,#id-icon-volume,#id-icon-circle{
    position: absolute;
    display: inline-block;
    width: 30px;
    margin: 0 auto;
}
#id-icon-volume{
    bottom: 8px;
    right: 95px;
}
#id-icon-circle{
    bottom: 9px;
    right: 305px;
}
#id-icon-play{
    bottom: 5px;
    right: 200px;
}
#id-icon-pause{
    bottom: 5px;
    right: 200px;
}
#id-icon-play-back{
    bottom: 3px;
    right: 250px;
}
#id-icon-play-forward{
    bottom: 3px;
    right: 150px;
}

#id-played-bar,#id-music-bar,.song-name,#id-icon-pause,#id-icon-play,#id-icon-play-back,#id-icon-play-forward {
        cursor: pointer;
}

.hidden{
    display: none !important;
}
.rotated {
    animation: rotated 8s linear infinite;
}
@keyframes rotated {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*歌曲列表的CSS*/
/*@header_background_color: #333;
@header_text_color: #FDFDFD;
@alternate_row_background_color: #DDD;

@table_width: 750px;
@table_body_height: 300px;
@column_one_width: 200px;
@column_two_width: 200px;
@column_three_width: 350px;

.fixed_headers {
  width: @table_width;
  table-layout: fixed;
  border-collapse: collapse;

  th { text-decoration: underline; }
  th, td {
    padding: 5px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }

  thead {
    background-color: @header_background_color;
    color: @header_text_color;
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: @table_body_height;
    tr:nth-child(even) {
      background-color: @alternate_row_background_color;
    }
  }
}*/
